# Dependency directories
node_modules/

# Logs
*.log

# dotenv environment variable files
.env

# IDEs and editors
.vscode/
.idea/

# Mac files
.DS_Store

# Windows image file caches
Thumbs.db

# Windows shortcuts
*.lnk

# local db client
local-start.sh

# script files

scripts/
utils/
remote-start.sh

data/